<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&amp;display=swap" rel="stylesheet">
        <title>Restaurant Apps Starter Project</title>
    </head>
    <body>
        <header>
            <a href="#" class="logo"><img  src="./images/logo/logo.png" alt="Logo Peto"></a>
            <nav id="navigation" class="navbar">
                <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Favorite</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">About Us</a></li>
                </ul>
            </nav>
        </header>
        <div class="jumbotron">
            <div class="hero">
                <h1 class="hero-title">Savory dish to share</h1>
                <p class="hero-tagline">In this way such herbs may be had throughout the season with almost the full flavour of the fresh herb  .</p>
            </div>
        </div>
        <script>
            window.addEventListener("scroll", ()=>{
                var header = document.querySelector("header");
                header.classList.toggle("sticky", window.scrollY>0);
            })
        </script>
    </body>
</html>
