<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet"> 
        <title>odd Apps Starter Project</title>
    </head>
    <body>
        <header>
            <a href="#" class="logo"><img  src="./images/logo/logo.png" alt="Logo Peto"></a>
            <nav id="navigation" class="navbar">
                <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Favorite</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">About Us</a></li>
                </ul>
            </nav>
        </header>

        <div class="jumbotron">
            <div class="hero">
                <h1 class="hero-title">Savory dish to share</h1>
                <p class="hero-tagline">In this way such herbs may be had throughout the season with almost the full flavour of the fresh herb.</p>
            </div>
        </div>

        <main>
            <section class="content">
                <article class="odd">
                    <div class="odd-content">
                        <h1 class="odd-title">Bring Your Phone Cafe</h1>
                        <p class="odd-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eum
                            facere nostrum officiis qui quidem ratione similique, soluta veniam voluptatum. </p>
                        <button class="button">Read More</button>
                    </div>
                    <figure class="odd-figure">
                        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41" alt="Dicoding Fact Sheet">
                    </figure>
                </article>
                <article class="even">
                    <figure class="even-figure">
                        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07" alt="Dicoding Fact Sheet">
                    </figure>
                    <div class="even-content">
                        <h1 class="even-title">Bring Your Phone Cafe</h1>
                        <p class="even-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eum
                            facere nostrum officiis qui quidem ratione similique, soluta veniam voluptatum. </p>
                        <button class="button">Read More</button>
                    </div>
                </article>
                <article class="odd">
                    <div class="odd-content">
                        <h1 class="odd-title">Bring Your Phone Cafe</h1>
                        <p class="odd-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eum
                            facere nostrum officiis qui quidem ratione similique, soluta veniam voluptatum. </p>
                        <button class="button">Read More</button>
                    </div>
                    <figure class="odd-figure">
                        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41" alt="Dicoding Fact Sheet">
                    </figure>
                </article>
            </section>
        </main>
        <script>
            window.addEventListener("scroll", ()=>{
                var header = document.querySelector("header");
                header.classList.toggle("sticky", window.scrollY>0);
            })
        </script>
    </body>
</html>
