img {
    display: block;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

body {
    background-color: ivory;
}

header {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 0 100px;
}

header.sticky {
    background: #fff;
}

header .logo img {
    width: 100px;
    transition: 0.6s;
}

header.sticky .logo img {
    width: 70px;
}

header nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    position: relative;
    list-style: none;
}

header nav ul li a {
    position: relative;
    text-decoration: none;
    margin: 0 20px;
    color: ivory;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500px;
    transition: 0.6s;
}

header.sticky nav ul li a {
    font-size: 16px;
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0px;
    background-color: ivory;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.jumbotron {
    display: flex;
    align-items: center;
    min-height: 500px;
    width: 100%;
    background-image: url("../public/images/heros/hero-image_4.jpg");
    background-position: center;
    background-color: ivory;
}
.hero {
    max-width: 900px;
    /* background-color: rgba(255, 255, 255, 0.2); */
    padding: 40px;
}

.hero-title {
    color: #fff;
    font-weight: 500;
    font-size: 72px;
}

.hero-tagline {
    color: ivory;
    margin-top: 16px;
    font-size: 22px;
    line-height: 35px;
}
