@media screen and (max-width: 499px) {
    
}

/* @media screen and (min-width: 455px) {
    .headline-content {
        padding: 16px 16px;
    }

    .headline-title {
        font-size: 28px;
    }

    .headline-description {
        font-size: 16px;
    }
} */

@media screen and (min-width: 500px) {
    
}

@media screen and (min-width: 650px) {
    /* .headline-content {
        margin: 0 auto;
        max-width: 650px;
    } */
}

@media screen and (min-width: 700px) {
    
}

@media screen and (min-width: 800px) {
    
}

@media screen and (min-width: 900px) {
}

@media screen and (min-width: 1200px) {
    /* main {
        max-width: 1200px;
    } */
}