@media screen and (max-width: 699px) { 
    app-bar.header {
        background-color: #f7f2ed;
    }
    app-bar.header .menu {
        color: #2d2d28;
    }
}

@media screen and (min-width: 700px) {
    app-bar.sticky .logo img {
        width: 80px;
    }
    app-bar.sticky .navbar .nav .nav-item .nav-link {
        color: #2d2d28;
    }
    app-bar.sticky .navbar .nav .nav-item .nav-link:hover {
        color: #ff9e16;
    }
    app-bar.sticky nav ul li a:after {
        background-color: #ff9e16;
    }
    app-bar.sticky  nav ul li a:hover {
        color: #ff9e16;
    }
    app-bar.sticky nav ul li a:hover:after {
        background-color: #ff9e16; 
    }
}